name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary: cli-compare
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            binary: cli-compare.exe

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --release --target ${{ matrix.target }}

    - name: List build output
      run: ls -R target/
      shell: bash

    - uses: actions/upload-artifact@v4
      with:
        name: cli-compare-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/${{ matrix.binary  }}
