name: Rust

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary_extn: 
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            binary_extn: .exe

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --release --target ${{ matrix.target }}

    - name: List build output
      run: ls -R target/
      shell: bash

    - uses: actions/upload-artifact@v4
      with:
        name: cli-compare-${{ matrix.target }}
        path: target/${{ matrix.target }}/release/cli-compare_${{ matrix.target }}

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      
      - uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
          draft: false
          prerelease: false